DATABASE_URL=
SECRET_KEY=
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=1440
MODEL_PATH=models/flood_model_final.joblib
SCALER_PATH=models/scaler_final.joblib
FEATURE_COLS_PATH=models/feature_cols_final.joblib
OPEN_METEO_BASE_URL=https://archive-api.open-meteo.com/v1/archive
OPEN_METEO_FORECAST_URL=https://api.open-meteo.com/v1/forecast
NAIROBI_LAT=-1.286389
NAIROBI_LON=36.817223
ENVIRONMENT=development
FRONTEND_URL=http://localhost:5173
